@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo';
}

.cabecalho {
    background-color:  #231F20;
    display: flex;
    justify-content: space-around;
    color: black;


}
.logo{
    width: 50%;
}
.logo img {
    width: 50%;
}

.nav {
    background-color:  #231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60em;

}

button {
    margin: 1.5em;
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
}

button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
    transition: all 1s;
}
a{
    text-decoration: none;
    color: white;
}
.images {
    background-color: beige;
    padding: 1em;
    color: black;
    border-top: 1px solid black;
    font-size: 1.1em;

}

.conjunto {
    /* border: 1px solid black; */
}
.oqe{
    display: flex;
    /* background-color: rgb(145, 149, 149); */
    height: 30vw;
}
.home{
    /* border: 1px solid black; */
    margin: 1em;
}
.img1{
    width: 45%;
    margin: 1em;
    /* border: 1px solid black; */
}
p{
    font-weight: bold;
}
